.todo{
    display: grid;
    grid-template-columns: 1fr 6fr 2fr 2fr 1fr;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #e8dfce68;
    height: 50px;
    border-radius: 5px;
    color: white;
  }
  .title{
    font-size: 20px;
    text-align: left;
    width: 100%;
  }
  .time{
    text-align: center;
    font-size: 20px;
  }
  .trash{
    font-size: 40px;
    color: #ffffff;
    padding: 10px;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
    text-align: right;
  }
  .check{
    font-size: 50px;
    padding: 10px;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
  }
.onHover:hover{
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}
